*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: 'Anek Telugu', sans-serif;
}
body{
    background-color: #f0ede5;
    background-image: url(../img/fundo.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}header{
    background-image: url(../img/banner_header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: local;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
header .perfil{
    width: 50vw;
}
header .Links{
    width: 50vw;
    display: flex;
    align-items: center;
}
header .Links nav{
    width: 100%;
    height: auto;
}
header .Links nav ul{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center; 
}
header .Links nav ul li{
    list-style: none;
    width: 200px;
}
header .Links nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
header .Links nav ul li a:after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s; 
    width: 0;
}
header .Links nav ul li a:hover:after{
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px){
    ul{
        margin-top: 40px;
    }
}
header .perfil img{
    width: 200px;
    border-radius: 50%;
    margin: 8% 0px 0px 100px;
}
.redes_sociais{
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    background-color: #253f2d;
    height: 50px;
    padding: 20px;
}
.redes_sociais ul{
    display: flex;
    justify-content: space-evenly;
}
.redes_sociais ul li{
    list-style: none;
}
.redes_sociais ul li a{
    color: white;
    font-size: 20px;
}
.redes_sociais ul li a:hover{
    color: peru;
}


main{
    background-color: transparent;
    margin: 0 auto;
    margin: 150px 0px 150px 0px;
    width: 100%;
    height: auto;
    min-height: 200px;
    text-align: center;
}
main .area_ancoragem{
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
}
main .area_ancoragem nav{
    width: 70%;
    margin: 20px;
}
main .area_ancoragem nav ul{
    display: flex;
    justify-content: space-around;
}
main .area_ancoragem nav ul li{
    list-style: none;
    background-color: rgb(216, 216, 216);
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
main .area_ancoragem nav ul li:hover{
    transform: scale(1.1);
    box-shadow: 4px 3px 0px;
    transition: 0.3s;
    color: #cc5c00;
}
main .area_ancoragem nav ul li a:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: #cc5c00;
}
main .area_ancoragem nav ul li a{
    margin-top: 7px;
    font-weight: bolder;
    text-decoration: none;
    width: 100%;
    font-size: 30px;
    color: #253f2d;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
 
:target {
  scroll-margin-top: .8em;
}
h1{
    margin-bottom: 40px;
}
.galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.galeria img{
    width: 400px;
    margin: 20px;
}